.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
  }

  .campo-grama {
    background-color: #64cf44;
  }

  .campo-areia {
    background-color: #c4cf76;
  }

  .campo-floresta {
    background-color: #065207;
  }

  .campo-montanha {
    background-color: #5e4429;
  }

  .campo-agua {
    background-color: #0046de;
  }
  
  .node-finish {
    background-color: orange;
  }
  
  .node-start {
    background-color: purple;
  }

  .green-node {
    background-color: rgb(123, 250, 64);
  }

  .blue-node {
    background-color: blue;
  }

  .red-node {
    background-color: red;
  }

  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
  .node-wall {
    background-color: rgb(12, 53, 71);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: orange;
    }
  
    50% {
      transform: scale(1.2);
      background-color: orange;
    }
  
    100% {
      transform: scale(1);
      background-color: orange;
    }
  }

  .node-shortest-pathGreen {
    animation-name: shortestPathGreen;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPathGreen {
    0% {
      transform: scale(0.6);
      background-color: rgb(123, 250, 64);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(123, 250, 64);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(123, 250, 64);
    }
  }

  .node-shortest-pathBlue {
    animation-name: shortestPathBlue;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPathBlue {
    0% {
      transform: scale(0.6);
      background-color: blue;
    }
  
    50% {
      transform: scale(1.2);
      background-color:blue;
    }
  
    100% {
      transform: scale(1);
      background-color:blue;
    }
  }

  .node-shortest-pathRed {
    animation-name: shortestPathRed;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPathRed {
    0% {
      transform: scale(0.6);
      background-color: rgb(253, 16, 16);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(253, 16, 16);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(253, 16, 16);
    }
  }