.grid {
    margin-top: 10px;
    margin-left: 15%;
}



.Inicio {
    background-color: purple;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.Fim {
    width: 15px;
    height: 15px;
    background-color: orange;
    display: inline-block;
}

.AmuletoVerde {
    width: 15px;
    height: 15px;
    background-color: rgb(123, 250, 64);
    display: inline-block;
}

.AmuletoAzul {
    width: 15px;
    height: 15px;
    background-color: blue;
    display: inline-block;
}

.AmuletoVermelho {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: rgb(253, 16, 16);
}